{
  "semi": false,
  "singleQuote": true,
  "trailingComma": "none",
  "printWidth": 100,
  "bracketSameLine": true,
  "bracketSpacing": true,
  "useTabs": true,
  "tabWidth": 4,
  "arrowParens": "always",
  "endOfLine": "lf"
}
